@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-width: 360px;
  height: 640px;
  position: relative;
  text-align: center;
  background-image: url(img/031e273cbab183555a4c863fdff3c7f6.jpg);
  justify-content: center;
  display: flex;
}
h1 {
  color: white;
  position: absolute;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  /* right: 80px; */
  padding-top: 20px;
}
h3 {
  color: white;
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  line-height: 48px;
  padding-top: 100px;
  /* right: 102px; */
}
.img {
  justify-content: center;
  align-items: center;
  display: flex;
}
img {
  position: absolute;
  width: 360px;
  /* height: 239px; */
  /* margin-left: 50px; */
  top: 133px;
}
.button button {
  position: absolute;
  width: 186px;
  height: 40px;
  left: 97px;
  border-radius: 100px;
  background-color: #4e4646;
  color: white;
  font-size: 16px;
  border-style: none;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}
.button .btn1 {
  top: 425px;
}
.button .btn2 {
  top: 489px;
}
.button .btn3 {
  top: 560px;
}
